.cityContainer {
  margin: 20px;
}
.content {
  margin: 20px;
  .tabelTitle {
    display: flex;
    justify-content: center;
    color: #007bff;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navbar-right {
  margin-right: 0px !important;
}

.flags {
  padding: 0px;
}
